* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header, main, footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

header, footer {
    height: 15%;
    background-color: #f1f1f1;
}

header .riga, footer .footer-section {
    display: flex;
    align-items: center;
}

header .riga {
    justify-content: space-between;
}

main {
    height: 70%;
    display: flex;
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
}

#mapcontainer {
    width: 90%; /* Larghezza del container della mappa */
    height: 100%; /* Altezza del container della mappa */
    background-color: #e9e9e9;
}

#mapdiv {
    width: 100%;
    height: 100%;
    text-align: center;
}

#filtra {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    padding: 10px;
    text-align: center;
    height: 100%;
}

header .pie {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 20px;
}

footer img {
    width: 30px;
    margin-right: 10px;
}

footer .footer-section {
    flex: 1;
    justify-content: center;
    text-align: center;
    margin: 0 20px;
}

footer .footer-section > * {
    margin: 0 20px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#attivo {
    color: green;
}

#nonattivo {
    color: red;
}
/*
div.olMapViewport {
  text-align: center !important;
}
*/
.olPopupContent {
  text-align: center !important;
}
