body {
    font-family: Calibri, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    z-index: 2;
    border-spacing: 0;
    border-radius: 10px;
    border: solid 1px black;
}

td, th {
    text-align: center;
    padding: 8px;
}

th {
    color: white;
    font-size: 25px;
    background-color: #003366;
    font-weight: bold;
    text-transform: uppercase;
}

td {
    font-size: 20px;
}

tr {
    font-family: 'Montserrat', sans-serif;
}

tbody tr:nth-child(even) {
    background-color: lightgrey;
}

button {
    border: none;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5%;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.acceso, .spento {
    background-color: red;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
}

.acceso {
    background-color: #76ff03;
}

.acceso:hover {
    background-color: darkgreen;
}

.spento:hover {
    background-color: darkred;
}