body {
    font-family: Calibri, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

table {
    border-spacing: 0;
    width: 100%;
}

td, th {
    text-align: center;
    padding: 10px 25px;
}

th {
    color: white;
    font-size: 25px;
    background-color: #003366;
    font-weight: bold;
}

td {
    border: 1px solid #ccc;
    font-size: 20px;
}

tr {
    font-family: 'Montserrat', sans-serif;
}

table tr:first-child th:first-child {
    border-spacing: 0;
    border-top-left-radius: 15px;
}


table tr:first-child th:last-child {
    border-spacing: 0;
    border-top-right-radius: 15px;
}

table tr:last-child td:first-child {
    border-spacing: 0;
    border-bottom-left-radius: 15px;
}

table tr:last-child td:last-child {
    border-spacing: 0;
    border-bottom-right-radius: 15px;
}

tbody tr:nth-child(even) {
    background-color: lightgrey;
}

button {
    border: none;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5%;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.acceso, .spento {
    background-color: red;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
}

.acceso {
    background-color: #76ff03;
}

.acceso:hover {
    background-color: darkgreen;
}

.spento:hover {
    background-color: darkred;
}

hr {
    width: 80%;
    color: lightgrey;
    display: flex;
    align-items: center;
}