<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Aggiungi Impianto</title>
    <link href="imgs/favicon.ico" id="favicon" rel="icon" type="image/x-icon"/>
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            text-align: center;
            border: 1px solid #ddd; padding: 8px;
        }
    </style>
</head>
<body>
<form th:action="@{/aggiungi_impianto}" method="post" th:object="${impianto}">
    <label for="descrizione"></label>
    <textarea id="descrizione" name="descrizione" required="required" th:field="*{descrizione}">Descrizione</textarea>

    <label for="latitudine"></label>
    <input id ="latitudine" name="latitudine" type="number" step="any" required="required" th:field="*{latitudine}">

    <label for="longitudine"></label>
    <input id ="longitudine" name="longitudine" type="number" step="any" required="required" th:field="*{longitudine}"/>

    <label for="palinsesto">Nome Palinsesto:</label>
    <select id="palinsesto" name="palinsesto" required th:field="*{palinsesto}">
        <option th:each="palinsesto : ${palinsesti}"
                th:value="${palinsesto.codPalinsesto}"
                th:text="${palinsesto.nomePalinsesto}">
        </option>
    </select>
    <button type="submit">Aggiungi</button>
</form>


</body>