<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Aggiungi Impianto</title>
    <link href="imgs/favicon.ico" id="favicon" rel="icon" type="image/x-icon"/>
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            text-align: center;
            border: 1px solid #ddd; padding: 8px;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<form>
    <label for="descrizione"></label>
    <textarea id="descrizione" name="descrizione" required="required">Descrizione</textarea>

    <label for="latitudine"></label>
    <input id ="latitudine" name="latitudine" type="number" step="any" required="required">

    <label for="longitudine"></label>
    <input id ="longitudine" name="longitudine" type="number" step="any" required="required"/>

    <label for="palinsestoName">Nome Palinsesto:</label>
    <select id="palinsestoName" name="palinsestoName" required>
        <option th:each="palinsesto : ${palinsesti}"
                th:value="${palinsesto}"
                th:text="${palinsesto.nomePalinsesto}"
                th:selected="${palinsesto.nomePalinsesto == palinsestoName}">
        </option>
    </select>
    <button type="submit">Aggiungi</button>
</form>


</body>