<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Gestione</title>
    <link href="imgs/favicon.ico" id="favicon" rel="icon" type="image/x-icon"/>
    <link href="gestione/style.css" rel="stylesheet"/>
    <link href="style.css" rel="stylesheet"/>

    <script>
        function conferma(msg) {
            return confirm(msg);
        }
    </script>
</head>

<body>
<div class="info">
    <div sec:authorize="isAuthenticated()">
        Benvenuto <b><span sec:authentication="name">Username</span></b>
        <span id="role" sec:authentication="principal.authorities">Roles</span>
    </div>
    <div>
        <form th:action="@{/logout}" onsubmit="return conferma('Sei sicuro di voler effettuare il logout?')"
              class="logout" method="post">
            <button type="submit" value="Logout">Logout</button>
        </form>
    </div>
</div>
<hr/>
<header>
    <div>
        <h1>Gestione impianti</h1>
    </div>
    <div>
        <form th:action="@{gestione/salva_impianto}" method="get">
            <button type="submit">Aggiungi un nuovo Impianto</button>
        </form>
    </div>
</header>
<hr/>
<main>
    <div th:if="${impianti != null}">
        <table>
            <thead>
            <tr>
                <th>Codice Impianto</th>
                <th>Descrizione</th>
                <th>Latitudine</th>
                <th>Longitudine</th>
                <th>Palinsesto</th>
                <th>Stato</th>
                <th>
                    <img src="/imgs/gestione/modifica.png" alt="Impossibile caricare l'immagine"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="impianto : ${impianti}">
                <td th:text="${impianto.codImpianto}">Codice Impianto</td>
                <td th:utext="${impianto.descrizione}">Descrizione</td>
                <td th:text="${impianto.latitudine}">Latitudine</td>
                <td th:text="${impianto.longitudine}">Longitudine</td>
                <td th:text="${impianto.palinsesto.getNomePalinsesto()}">Palinsesto</td>
                <td>
                    <form th:action="@{gestione/salva_impianto_conferma}" method="post" th:object="${impianto}"
                          th:onsubmit="'return conferma(\'Sei sicuro di voler ' + (${impianto.stato} ? 'spegnere' : 'accendere') + ' questo impianto?\')'">
                        <input type="hidden" th:name="codImpianto" th:value="*{codImpianto}">
                        <input type="hidden" th:name="descrizione" th:value="*{descrizione}">
                        <input type="hidden" th:name="latitudine" th:value="*{latitudine}">
                        <input type="hidden" th:name="longitudine" th:value="*{longitudine}">
                        <input type="hidden" th:name="stato" th:value="*{!stato}">
                        <input type="hidden" th:name="palinsesto.codPalinsesto" th:value="*{palinsesto.codPalinsesto}">
                        <button th:if="${impianto.stato}" type="submit" class="acceso"></button>
                        <button th:unless="${impianto.stato}" type="submit" class="spento"></button>
                    </form>
                </td>
                <td>
                    <form th:action="@{gestione/salva_impianto}" method="post" th:object="${impianto}">
                        <input type="hidden" th:name="codImpianto" th:value="*{codImpianto}">
                        <input type="hidden" th:name="descrizione" th:value="*{descrizione}">
                        <input type="hidden" th:name="latitudine" th:value="*{latitudine}">
                        <input type="hidden" th:name="longitudine" th:value="*{longitudine}">
                        <input type="hidden" th:name="palinsesto.codPalinsesto" th:value="*{palinsesto.codPalinsesto}">
                        <input type="hidden" th:name="stato" th:value="*{stato}">
                        <button type="submit">Modifica</button>
                    </form>
                </td>
                <!--
                <td>
                    <form th:action="@{/elimina_impianto}" method="post"
                          onsubmit="return conferma('Sei sicuro di voler eliminare questo impianto?')">
                        <input type="hidden" name="codImpianto" th:value="${impianto.codImpianto}">
                        <button type="submit">Elimina</button>
                    </form>
                </td>
                 -->
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>