<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Gestione</title>
</head>
<body>
    <p><a href="http://localhost:8080/impianto?id=1" target="_blank"> Impianto 1 </a></p>
    <p><a href="http://localhost:8080/impianto?id=3" target="_blank"> Impianto 3 </a></p>
    <p><a href="http://localhost:8080/impianto?id=100" target="_blank"> Impianto 100 </a></p>
    <!-- Gestione -->
    <p><a href="http://localhost:8080/gestione" target="_blank"> Gestione </a></p>
    <!-- Reportistica -->
    <p><a href="http://localhost:8080/reportistica" target="_blank"> Reportistica </a></p>
    <p><a href="http://localhost:8080/login">Login</a></p>
    <p><a href="http://localhost:8080/logout">Logout</a></p>
</body>
</html>