<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Modifica Impianto</title>
    <link href="imgs/favicon.ico" id="favicon" rel="icon" type="image/x-icon"/>
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            text-align: center;
            border: 1px solid #ddd; padding: 8px;
        }
    </style>

</head>
<body>
<form th:action="@{/modifica_impianto/continue}" method="post" th:object="${impianto}">
    <input id ="codImpianto" name="codImpianto" type="hidden" th:value="${cod}" th:field="*{codImpianto}">

    <label for="descrizione">Descrizione:</label>
    <textarea id="descrizione" name="descrizione" required="required" th:field="*{descrizione}">[[${desc}]]</textarea>

    <label for="latitudine">Latitudine:</label>
    <input id ="latitudine" name="latitudine" type="number" step="any" required="required" th:field="*{latitudine}" th:value="${lat}">

    <label for="longitudine">Longitudine:</label>
    <input id ="longitudine" name="longitudine" type="number" step="any" required="required" th:field="*{longitudine}" th:value="${lon}"/>

    <label for="palinsesto">Nome Palinsesto:</label>
    <select id="palinsesto" name="palinsesto" required th:field="*{palinsesto}">
        <option th:each="palinsesto : ${palinsesti}"
                th:value="${palinsesto.codPalinsesto}"
                th:text="${palinsesto.nomePalinsesto}">
        </option>
    </select>
    <button type="submit">Conferma</button>
</form>
</body>
</html>