<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Salva Impianto</title>
    <link href="imgs/favicon.ico" id="favicon" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet" href="src/main/resources/static/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            let timeout = null;

            $('#descrizione').on('input', function() {
                clearTimeout(timeout); // Cancella la richiesta precedente se presente
                timeout = setTimeout(function() {
                    var text = $('#descrizione').val();
                    $.ajax({
                        type: 'GET',
                        url: '/suggerisci_coordinate',
                        data: { text: text },
                        success: function(response) {
                            $('#suggerimenti').empty();
                            var places = JSON.parse(response);
                            places.forEach(function(place) {
                                $('#suggerimenti').append('<option value="' + place.display_name + '" data-lat="' + place.lat + '" data-lon="' + place.lon + '">');
                            });
                        },
                        error: function() {
                            console.error('Errore nella chiamata AJAX');
                        }
                    });
                }, 250); // Aspetta 250ms prima di fare la richiesta
            });
            $('#descrizione').on('change', function() {
                var selectedOption = $('#suggerimenti option[value="' + $(this).val() + '"]');
                if (selectedOption.length > 0) {
                    $('#latitudine').val(selectedOption.data('lat'));
                    $('#longitudine').val(selectedOption.data('lon'));
                }
            });
        });
    </script>
    <style>
        .input_container {
            display: flex;
            flex-direction: row;
            margin-top: 50px;
        }
        .input_container div{
            margin-right: 30px;
        }
        button {
            border: none;
            padding: 10px 20px;
            background-color: #007BFF;
            color: white;
            border-radius: 5%;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        body { font-family: Calibri, sans-serif; }
        textarea {resize: none;}
    </style>
</head>
<body>
<h1 th:text="${message}"></h1>
<div th:if="${errore}" style="color: red;" th:text="${errore}"></div>
<form th:action="@{/gestione/salva_impianto_conferma}" method="post" th:object="${impianto}">
    <input id="codImpianto" type="hidden" th:field="*{codImpianto}">

    <div class="input_container">
    <div>
        <label for="descrizione">Descrizione:</label>
        <input id="descrizione" size="50" list="suggerimenti" required="required" placeholder="descrizione" th:field="*{descrizione}">
        <datalist id="suggerimenti"></datalist>
    </div>

    <div>
        <label for="latitudine">Latitudine:</label></br>
        <input id="latitudine" type="number" step="any" placeholder="latitudine" required="required" th:field="*{latitudine}">
    </div>

    <div>
        <label for="longitudine">Longitudine:</label></br>
        <input id="longitudine" type="number" step="any" placeholder="longitudine" required="required" th:field="*{longitudine}"/>
    </div>

    <div>
        <label for="palinsesto">Palinsesto:</label></br>
        <select id="palinsesto" required th:field="*{palinsesto}">
            <option th:each="palinsesto: ${palinsesti}"
                    th:value="${palinsesto.codPalinsesto}"
                    th:text="${palinsesto.nomePalinsesto}"
                    th:selected="${impianto.palinsesto!=null && impianto.palinsesto.codPalinsesto == palinsesto.codPalinsesto}">
            </option>
        </select>
    </div>

    <div></br>
        <button type="submit">Conferma</button>
    </div>
    </div>
</form>
</body>
</html>
