.acceso, .spento {
    background-color: red;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
}

.acceso {
    background-color: #76ff03;
}

.acceso:hover {
    background-color: darkgreen;
}

.spento:hover {
    background-color: darkred;
}

#role {
    color: green;
}

header {
    font-size: 24px;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    height: 10%;
}

header div {
    padding: 0 1%;;
}

.logout {
    display: flex;
    align-items: center;
}
