#role {
    color: green;
}

.info {
    font-size: 24px;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    height: 10%;
}

th img {
    width: 20%;
    height: 20%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20%;
}

main {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: start;
}

main div {
    width: 90%;
}

.info div {
    padding: 0 1%;
}

.logout {
    display: flex;
    align-items: center;
}

h1 {
    color: #003366;
}
