body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    background-image: url('../../imgs/lidl/lavagna.avif');
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p {
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../imgs/lidl/lavagna.avif');
    height: 10%;
    width: 100%;
}

header h1 {
    text-align: center;
    font-size: 35px;
    color: white;
}

.main {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70%;
}

.section1 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    animation: showHide 10s infinite ease-in-out;
    animation-delay: 5s;
}

.aside {
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    background-image: url('../../imgs/lidl/lista-spesa.avif');
    text-align: center;
}

.img_container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 100%;
}

.section2 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    opacity: 0;
    animation: showHide 10s infinite ease-in-out;
}

@keyframes showHide {
    0%, 50% {
        opacity: 0;
    }
    51%, 100% {
        opacity: 1;
    }
}


.titolo {
    font-weight: bold;
    font-size: 50px;
}

.dettagli {
    font-style: italic;
    font-size: 30px;
    font-weight: lighter;
}

.vecchio {
    text-decoration: line-through;
    font-size: 30px;
    font-weight: lighter;
}

.nuovo {
    font-weight: bold;
    color: red;
    font-size: 70px;
}

.prezzo {
    font-weight: lighter;
    font-size: 20px;
}

.prezzo::before {
    content: "[";
}

.prezzo::after {
    content: "]";
}

.scadenza {
    text-decoration: underline;
    font-size: 30px;
    font-weight: lighter;
}