* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("../../imgs/arcteryx/bg.jpeg");
    background-size: cover;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.main {
    width: 65%;
    overflow: hidden;
    position: relative;
}

.img {
    position: absolute;
}

.img:nth-child(1) {
    position: absolute;
    left: -30%;
    animation: switch1 7s infinite;
}

.img:nth-child(2) {
    position: absolute;
    left: -10%;
    z-index: -1;
    animation: switch2 7s infinite;
}

.img:nth-child(3) {
    position: absolute;
    left: 10%;
    z-index: -2;
    animation: switch3 7s infinite;
}

.logo {
    width: 50%;
}

.txt {
    text-align: center;
    font-size: 65px;
    color: darkgreen;
    margin-bottom: 300px;
    text-shadow: 2px 2px 5px black;
}