@keyframes rotate-90-right-cw {
    25% {
        transform: rotate(0);
        transform-origin: right
    }
    50% {
        transform: rotate(90deg);
        transform-origin: right;
    }
    75% {
        transform: rotate(90deg);
        transform-origin: right;
    }
}

@keyframes switch {
    0% {
        content: url("../../imgs/guinness/vuota.png");
    }
    100% {
        content: url("../../imgs/guinness/piena.png");
    }
}

.pinta {
    animation: switch 8s linear infinite;
}

.birra {
    animation: rotate-90-right-cw 8s linear infinite both;
}