body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.filtri {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filtri div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}

.filtri div label {
    padding-bottom: 2%;
}

.risultati {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.esporta {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.esporta div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0;
}

.esporta div label {
    padding-bottom: 5%;
}

.esporta div select {
    width: 100%;
}

label {
    font-size: 20px;
}