@font-face {
    font-family: 'nothing';
    src: url('../../fonts/Ndot-55.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@keyframes onOff {
    0%, 40% {
        content: url("../../imgs/phone2a/off_b.png");
    }
    20% {
        content: url("../../imgs/phone2a/on_b.png");
    }
    60%, 100% {
        content: url("../../imgs/phone2a/off_w.png");
    }
    80% {
        content: url("../../imgs/phone2a/on_w.png");
    }
}

@keyframes text-flicker-in-glow {
    0% {
        opacity: 0
    }
    2.5%, 2.55%, 5.15%, 7.65% {
        opacity: 0;
        text-shadow: none
    }
    2.55% {
        opacity: 1;
        text-shadow: none
    }
    5.05% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .25)
    }
    7.55%, 11.275% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }
    14.275%, 17.825% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35)
    }
    16.275% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35), 0 0 100px rgba(255, 255, 255, .1)
    }
    19.275%, 21.825% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .4), 0 0 110px rgba(255, 255, 255, .2), 0 0 100px rgba(255, 255, 255, .1)
    }
    25% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .6), 0 0 60px rgba(255, 255, 255, .45), 0 0 110px rgba(255, 255, 255, .25), 0 0 100px rgba(255, 255, 255, .1)
    }
}

.phone {
    animation: onOff 4s infinite alternate;
    animation-delay: -10s;
}

.text-r {
    font-family: 'Arial', serif;
    color: white;
    font-size: 32px;
    margin-right: 50px;
    animation: text-flicker-in-glow 8s linear infinite both;
}

body {
    animation: bg-pan-right 6s both infinite alternate;
}

@keyframes bg-pan-right {
    0% {
        background-position: 0 50%
    }
    100% {
        background-position: 100% 50%
    }
}