.word-animation {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.word-animation span {
    display: inline-block;
    opacity: 0;
    animation: appear 3s forwards infinite;
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.word-animation span:nth-child(1) {
    animation-delay: 1s;
}

.word-animation span:nth-child(2) {
    animation-delay: 2s;
}

.word-animation span:nth-child(3) {
    animation-delay: 3s;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main {
    position: relative;
    width: 100%;
    height: 65%;
    background-color: #ebc23d;
}
footer {
    background-color: #f0f0f0;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header {
    background-color: #ba1e20;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20%;
    width: 100%;
}
.section1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: showHide 10s infinite ease-in-out;
    animation-delay: 5s;
}
.section2 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: showHide 10s infinite ease-in-out;
}
h3 {
    margin: 10px;
}
.img_container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_1{
    height: 50%;
}
.img_2 {
    height: 20%;
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.info {
    max-width: 700px;
    margin: 0 auto;
}

.info p {
    margin: 5px 0;
    text-align: center;
    color: #ba1e20;
}

#span1 {
    color: #fcff47;
}

#span2 {
    color: #f0db3e;
}

#span3 {
    color: #ebc23d;
}

@keyframes showHide {
    0%, 50% {
        opacity: 0;
    }
    51%, 100% {
        opacity: 1;
    }
}